
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    <title>{{title}} - App</title>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{asset "css/screen.css"}}">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    {{> navbar}}

    <div class="container">
      {{{body}}}
    </div><!-- /.container -->

    <div class="blog-footer">
      <p>&copy; Company {{date format="YYYY"}} &bull;</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </div>


    {{{forumScriptTags}}}

    {{{block "bodyScripts"}}}
  </body>
</html>
