{{!< ../layout}}

<form class="form-signup" role="form" method="post">
<h2 class="form-heading">Sign Up</h2>
<hr />
<div class="form-group{{#if errors.email}} has-error{{/if}}">
  <label for="txtEmail">Email</label>
  <input type="email" name="email" class="form-control" id="txtEmail" placeholder="Email." value="{{email}}" required>
    <span class="help-block">{{#if errors.email}}{{errors.email.msg}}{{/if}}</span>
</div>
<div class="form-group{{#if errors.screenName}} has-error{{/if}}">
    <label for="txtDisplayname">Screen name</label>
    <input type="text" name="screenName" class="form-control" id="txtDisplayname" placeholder="Screen name." maxlength="18" value="{{screenName}}" required>
    <span class="help-block">{{#if errors.screenName}}{{errors.screenName.msg}}{{/if}}</span>
</div>
<div class="form-group{{#if errors.password}} has-error{{/if}}">
    <label for="txtPassword">Password</label>
    <input type="password" name="password" class="form-control" id="txtPassword" placeholder="Password." maxlength="14" required>
    <span class="help-block">{{#if errors.password}}{{errors.password.msg}}{{/if}}</span>
</div>
<button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
</form>